<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style_1.css" />
    <title>Lab 1 | Lesson 1</title>
  </head>
  <body>
    <div id="bodymovin"></div>
    <div id="btn-on" name="btn-on">
      <label class="rocker">
        <input type="checkbox" />
        <span class="switch-right">Off</span>
        <span class="switch-left">On</span>
      </label>
    </div>
    <div class="modal">
      <div class="modal__content">
        <h1>안녕하세요</h1>
        <p>You can put your mouse on the switch to feel the surprise!!!!!!</p>
        <a href="../../">Back to home</a>
      </div>
    </div>
    <script src="../../assets/js/library/bodymovin.js"></script>
    <script src="../../assets/js/mainJS1.js"></script>
  </body>
</html>
