<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style_3.css" />
    <title>Lab 1 | Lesson 3</title>
  </head>
  <body>
    <a class="back" href="../../">Back to home</a>
    <div class="tasks">
      <!-- title -->
      <h1>Order List</h1>
      
    </div>
    <script src="../../assets/js/mainJS3.js"></script>
  </body>
</html>
