/* tiny reset */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* body */
body {
  height: 100vh;
  background: #ddbea9;
  /* background: linear-gradient(130deg, #c9ffbf, #ffafbd); */
  font-family: sans-serif;
}
/* title */
h1 {
  color: #6d335c;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}
/* tasks */
.tasks {
  width: 50%;
  min-height: 405px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tasks > input[type="checkbox"] {
  display: none;
}
.tasks > label {
  background: #ae5f75;
  height: 69px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2c3e50;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  text-indent: 20px;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tasks > label h2 span {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
  color: #fff;
}
.tasks > label:before {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  display: block;
  position: absolute;
  border-radius: 100%;
  right: 20px;
  top: 30%;
  transition: border 0.7s ease;
}
#label-1:checked ~ label[for="label-1"],
#label-2:checked ~ label[for="label-2"],
#label-3:checked ~ label[for="label-3"],
#label-4:checked ~ label[for="label-4"],
#label-5:checked ~ label[for="label-5"] {
  background: #6d335c;
  border-bottom: 1px solid #34495e;
  color: #d37b79;
}
#label-1:checked ~ label[for="label-1"] h2 span,
#label-2:checked ~ label[for="label-2"] h2 span,
#label-3:checked ~ label[for="label-3"] h2 span,
#label-4:checked ~ label[for="label-4"] h2 span,
#label-5:checked ~ label[for="label-5"] h2 span {
  color: #f6bd66;
}
#label-1:checked ~ label[for="label-1"]:before,
#label-2:checked ~ label[for="label-2"]:before,
#label-3:checked ~ label[for="label-3"]:before,
#label-4:checked ~ label[for="label-4"]:before,
#label-5:checked ~ label[for="label-5"]:before {
  background: url("../../assets/img/stick.png") no-repeat center center;
}

.back {
  display: inline-block;
  margin-left: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #6d335c;
  transition: all 0.3s;
}

.back:hover {
  color: #d37b79;
}
